WebApplication3/src/conf/xml-resources/web-service-references/CalculadoraWS/wsdl/env-5531558.jl.serv.net.mx_80/CalculadoraWS/CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.proyecto.empresa.com/" name="CalculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.proyecto.empresa.com/" schemaLocation="http://env-5531558.jl.serv.net.mx:80/CalculadoraWS/CalculadoraWS?xsd=1" />
</xsd:schema>
</types>
<message name="OpRestar">
<part name="parameters" element="tns:OpRestar" />
</message>
<message name="OpRestarResponse">
<part name="parameters" element="tns:OpRestarResponse" />
</message>
<message name="OpMultiplicar">
<part name="parameters" element="tns:OpMultiplicar" />
</message>
<message name="OpMultiplicarResponse">
<part name="parameters" element="tns:OpMultiplicarResponse" />
</message>
<message name="OpDividir">
<part name="parameters" element="tns:OpDividir" />
</message>
<message name="OpDividirResponse">
<part name="parameters" element="tns:OpDividirResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="OpSumar">
<part name="parameters" element="tns:OpSumar" />
</message>
<message name="OpSumarResponse">
<part name="parameters" element="tns:OpSumarResponse" />
</message>
<portType name="CalculadoraWS">
<operation name="OpRestar">
<input wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpRestarRequest" message="tns:OpRestar" />
<output wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpRestarResponse" message="tns:OpRestarResponse" />
</operation>
<operation name="OpMultiplicar">
<input wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpMultiplicarRequest" message="tns:OpMultiplicar" />
<output wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpMultiplicarResponse" message="tns:OpMultiplicarResponse" />
</operation>
<operation name="OpDividir">
<input wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpDividirRequest" message="tns:OpDividir" />
<output wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpDividirResponse" message="tns:OpDividirResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="OpSumar">
<input wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpSumarRequest" message="tns:OpSumar" />
<output wsam:Action="http://ws.proyecto.empresa.com/CalculadoraWS/OpSumarResponse" message="tns:OpSumarResponse" />
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="OpRestar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="OpMultiplicar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="OpDividir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="OpSumar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculadoraWS">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://env-5531558.jl.serv.net.mx:80/CalculadoraWS/CalculadoraWS" />
</port>
</service>
</definitions>