WebApplication3/web/WEB-INF/wsdl/env-5531558.jl.serv.net.mx_80/CalculadoraWS/CalculadoraWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="OpDividir" type="tns:OpDividir" />

<xs:element name="OpDividirResponse" type="tns:OpDividirResponse" />

<xs:element name="OpMultiplicar" type="tns:OpMultiplicar" />

<xs:element name="OpMultiplicarResponse" type="tns:OpMultiplicarResponse" />

<xs:element name="OpRestar" type="tns:OpRestar" />

<xs:element name="OpRestarResponse" type="tns:OpRestarResponse" />

<xs:element name="OpSumar" type="tns:OpSumar" />

<xs:element name="OpSumarResponse" type="tns:OpSumarResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="OpRestar">
<xs:sequence>
<xs:element name="numero1" type="xs:double" />
<xs:element name="numero2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpRestarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpDividir">
<xs:sequence>
<xs:element name="numero1" type="xs:double" />
<xs:element name="numero2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpDividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpMultiplicar">
<xs:sequence>
<xs:element name="numero1" type="xs:double" />
<xs:element name="numero2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpMultiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpSumar">
<xs:sequence>
<xs:element name="numero1" type="xs:double" />
<xs:element name="numero2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="OpSumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>